body{
    background-image: linear-gradient(var(--background), var(--color3));
    background-color: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
margin: 0;
padding: 0;
}

:root{
    --color1:white ;
    --color2:yellow;
    --color3: purple;
    --background: black;
}

footer{
    color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
    float: bottom;
    margin: auto;
    width: 20%;
    background-color: black;
    text-align: center;
}

.center{
    margin: auto;
    width: 20%;
    text-align: center;
}

.navbar li a{
    display: block;
    list-style-type: none;
    color: var(--color1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
    border: solid;
    border-color: var(--color3);
    border-width: 3px;
    background-color: cadetblue;
  }

  .navbar a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

 .navbar li a:hover {
    background-color: var(--color3);
    color: var(--color2);}

 .navbar li{
    margin: auto 2rem;
    margin-top: 2rem;
    display: flex;
    max-width: 20%;
    float: left;
    padding-left: 20rem;
 }

 h1{
    color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    justify-content: center;
 }

h2, h3{
    color: var(--color3);
    font-family: Arial, Helvetica, sans-serif;
}


 .contact-details {
    font-size: 2.4rem;
    display:inline-block;
    padding: 1rem;
    
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    display: inline-block;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.projectssection{
    background-color: var(--background);
}

.project-image {
    width: 100%;
    object-fit: cover;
    padding-left: 2rem;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    text-align: center;
}

a p{
    color: var(--color1);
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
}

.bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 96%;
        height: 50vh;
        padding: 0 2rem;
}